/* Navbar.css */

.navbar {
  background-color: #fff;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0 24px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;
}

.navbar-logo {
  font-weight: bold;
  color: blue;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  transition: max-height 0.3s ease-out;
  max-height: 500px; /* Hauteur maximale pour les petits écrans */
  overflow: hidden;
}

.nav-menu.active {
  max-height: 0; /* Caché par défaut sur les grands écrans */
}

.nav-item {
  margin: 0;
  padding: 0;
}

.nav-link {
  color: black;
  text-decoration: none;
  padding: 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: blue;
}

.navbar-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
  display: none; /* Caché par défaut sur les grands écrans */
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: center; /* Centrer la navbar pour les petits écrans */
  }

  .navbar-toggle-btn {
    display: block; /* Afficher le bouton sur les petits écrans */
  }

  .nav-menu {
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #fff;
    width: 100%;
    flex-direction: column;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    max-height: 0;
  }

  .nav-menu.active {
    max-height: 500px; /* Ajuster la hauteur pour montrer tous les liens */
  }

  .nav-item {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}
